@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:ital,wght@0,300;1,400;1,500;1,800&display=swap');

:root{
  --primary-color: #dc3545;
  --dark-color: #333;
  --light-color: #f4f4f4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;

}
a{
  color: var(--primary-color);
  text-decoration: none;
}  
 a:hover{
    color: #666;
  }


ul{
  list-style: none;
}

input{
  display: block;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
  outline: none;
}
.container{
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

table th{
  background: var(--light-color);
}
.btn{
  display: inline-block;
  background: var(--light-color);
  color: #333;
  font-size: 1rem;
  padding: .4rem 1.3rem;
  border: none;
  margin-right: .5rem;
  transition: opacity .2s;
  cursor: pointer;
}
  .btn:disabled {
    background: var(--dark-color);
    color: #fff;
    cursor: not-allowed;
  }

.btn:hover:not(:disabled){
  opacity: .8;
}

.btn-block{
  display: block;
  width: 100%;
}
.btn-primary{
  background: var(--primary-color);
  color: #fff;
}
.text-center{
  text-align: center;
}